---
import { type CollectionEntry } from "astro:content";
import ArrowCard from "@components/ArrowCard.astro";
import { mapToCardEntry } from "@content/config";

interface PostsListProps {
    posts: CollectionEntry<"os">[];
}

const { posts } = Astro.props as PostsListProps;
---

<ul class="flex flex-col gap-4 mt-2">
    {
        posts.map((post) => (
            <li>
                <ArrowCard entry={mapToCardEntry(post)} />
            </li>
        ))
    }
</ul>
