---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import BackToPrev from "@components/BackToPrev.astro";
import { ContentCollection, PAGE_METADATA } from "@const/global";
import ProblemHeader from "@components/leetcode/ProblemHeader.astro";

export async function getStaticPaths() {
  const problems = (await getCollection(ContentCollection.LEETCODE)).filter(
    (problem) => !problem.data.draft,
  );
  return problems.map((problem) => ({
    params: { slug: problem.slug },
    props: problem,
  }));
}
type Props = CollectionEntry<ContentCollection.LEETCODE>;

const problem = Astro.props;
const { Content } = await problem.render();
---

<PageLayout title={problem.data.title} description={problem.data.title}>
  <Container>
    <div class="animate">
      <BackToPrev href={PAGE_METADATA.leetcode.url}>
        Back to problems
      </BackToPrev>
    </div>
    <article class="animate">
      <ProblemHeader {...problem.data} />
      <Content />
    </article>
  </Container>
</PageLayout>
