---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import CategoryList from "@components/CategoryList.astro";
import { PAGE_METADATA } from "@const/global";

const allPosts = (await getCollection("leetcode")).filter(
    (post) => !post.data.draft,
);

interface SubcategoryGroup {
    [subcategory: string]: CollectionEntry<"leetcode">[];
}

interface CategoryGroup {
    [category: string]: SubcategoryGroup;
}

const groupedPosts: CategoryGroup = allPosts.reduce(
    (acc: CategoryGroup, post) => {
        const { category, subcategories } = post.data;
        //        const safeSubcategory = "Uncategorized";
        const safeSubcategory = "Uncategorized";

        if (!acc[category]) {
            acc[category] = {};
        }

        if (!acc[category][safeSubcategory]) {
            acc[category][safeSubcategory] = [];
        }

        acc[category][safeSubcategory].push(post);
        return acc;
    },
    {},
);
---

<PageLayout
    title={PAGE_METADATA.leetcode.title}
    description={PAGE_METADATA.leetcode.title}
>
    <Container>
        <div class="space-y-10">
            <h1
                class="animate font-semibold text-black dark:text-white text-3xl"
            >
                Leetcode
            </h1>
            <CategoryList groupedPosts={groupedPosts} />
        </div>
    </Container>
</PageLayout>
