---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import {ABOUT_ME_PAGE_METADATA} from "@consts";
import {LEETCODE_PAGE_METADATA} from "../../consts";
---

<PageLayout title={LEETCODE_PAGE_METADATA.TITLE} description={ABOUT_ME_PAGE_METADATA.DESCRIPTION}>
    <Container>
        <h4 class="animate font-semibold text-black dark:text-white">
            Bonjour <span class="text-xl">👋🏻</span>
        </h4>
        <div class="space-y-16">
            <section>
                <article class="space-y-4">
                    <p class="animate">
                        LEETCODE PAGE
                    </p>
                </article>
            </section>

        </div>
    </Container>
</PageLayout>
